<app-cover></app-cover>
<!-- component -->
<div class="flex justify-center items-center w-full py-5 ">
	
	<div class="container mx-auto my-4 px-4 lg:px-20">
    <div class="text-center flex items-center justify-center animate__animated animate__backInDown  transition duration-400 delay-30">
      <h1 >Contact Us</h1>
     
     
    </div>
    <div class="py-2 flex items-center justify-center animate__animated animate__zoomInLeft transition duration-400 delay-30">
      <h1 class="bg-green-700 h-1 w-14"></h1>
    </div>
		<div class="w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 mr-auto rounded-2xl shadow-2xl animate__animated animate__fadeInUp  transition duration-400">
			<div class="flex">
				<h1 class="font-bold uppercase text-5xl">Send us a <br /> message</h1>
			</div>
			<form [formGroup]="form" action="javascript:void(0)" (submit)="sendEmail()">
        <div class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-5">
          <input formControlName="first_name"  class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
              type="text" placeholder="First Name*" />
          <input formControlName="last_name" class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
              type="text" placeholder="Last Name*" />
          <input formControlName="from_email" class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
              type="email" placeholder="Email*" />
          <input formControlName="phone" class="w-full bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
              type="number" placeholder="Phone*" />
          </div>
          <div class="my-4">
            <textarea formControlName="message" placeholder="Message*" class="w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
          </div>
          <div class="my-2 w-1/2 lg:w-1/4">
            <button class="uppercase text-sm font-bold tracking-wide bg-blue-900 text-gray-100 p-3 rounded-lg w-full 
                        focus:outline-none focus:shadow-outline">
              Send Message
            </button>
          </div>
      </form>
				
			</div>

			<div
				class="w-full lg:-mt-96 lg:w-2/6 px-8 py-12 ml-auto bg-blue-900 rounded-2xl">
				<div class="flex flex-col text-white">
					

					<div class="flex my-4 w-2/3 lg:w-1/2">
						<div class="flex flex-col">
						
            </div>
            <div class="flex flex-col">
              <h2 class="text-2xl">Main Office</h2>
              <p class="text-gray-400">
                Pratheeksha Building,Near Petrol Pump,
                Second Floor,Above OPPO Showroom,
                Palarivattom SN Jn,Cochin -682025</p>
            </div>
          </div>
          
          <div class="flex my-4 w-2/3 lg:w-1/2">
            <div class="flex flex-col">
           
            </div>
            <div class="flex flex-col">
              <h2 class="text-2xl">Call Us</h2>
            
              <p class="text-gray-400">+917907436274</p>
            </div>
          </div>
          
          <div class="flex my-4 w-2/3 lg:w-1/2">
           <app-social></app-social>
          </div>
        </div>
      </div>
      <div class="w-full h-full pt-5 ">
        <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6875.9980609921!2d76.305549!3d10.005148!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d92afe4af6d%3A0xd1e5658f917a0ec!2sRadiant%20Study%20Centre%20Entrance%20Coaching%20Centre%20Kerala%20Cochin%20Medical%20AIIMS%20NEET!5e1!3m2!1sen!2sin!4v1695921599125!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-[28rem] rounded-xl"></iframe>
    </div>
    </div>
 
</div>

