<ul class=" gap-3 text-xl font-bold hidden lg:flex">
    <li class="nav-link cursor-pointer " data-hover="Home" routerLinkActive="active" routerLink="/home">Home</li>
    <li class="nav-link cursor-pointer" data-hover="About"   routerLinkActive="active" routerLink="/about">About</li>
    <li class="nav-link cursor-pointer" data-hover="Courses"  routerLinkActive="active" routerLink="/courses">Courses</li>
    <li class="nav-link cursor-pointer" data-hover="Facilities"  routerLinkActive="active" routerLink="/facilities">Facilities</li>
    <li class="nav-link cursor-pointer" data-hover="Faculties"  routerLinkActive="active" routerLink="/faculties">Faculties</li>
    <li class="nav-link cursor-pointer" data-hover="Contact"  routerLinkActive="active" routerLink="/contact">Contact </li>
</ul>
