<ul class=" gap-3 text-xl font-bold lg:flex  ">
    <div class="border-y lg:border-none flex items-center justify-between ">
        <li class="nav-link cursor-pointer "  data-hover="Home" routerLinkActive="active" routerLink="/home">Home</li>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus lg:hidden" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
    </div>
    <div class="border-b lg:border-none flex items-center justify-between">
        <li class="nav-link cursor-pointer" data-hover="About"   routerLinkActive="active" routerLink="/about">About</li>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus lg:hidden" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
    </div>
    <div class="border-b lg:border-none flex items-center justify-between">
        <li class="nav-link cursor-pointer" data-hover="Courses"  routerLinkActive="active" routerLink="/courses">Courses</li>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus lg:hidden" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
    </div>
<div class="border-b lg:border-none flex items-center justify-between">
    <li class="nav-link cursor-pointer" data-hover="Facilities"  routerLinkActive="active" routerLink="/facilities">Facilities</li>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus lg:hidden" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
</div>
   <div class="border-b lg:border-none flex items-center justify-between">
    <li class="nav-link cursor-pointer" data-hover="Faculties"  routerLinkActive="active" routerLink="/faculties">Faculties</li>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus lg:hidden" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
   </div>
<div class="border-b lg:border-none flex items-center justify-between" >
    <li class="nav-link cursor-pointer" data-hover="Contact"  routerLinkActive="active" routerLink="/contact">Contact </li>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus lg:hidden" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
</div>
 
</ul>
