<app-cover></app-cover>
<div >
    <div class="container py-5 ">
      <div class="text-center flex items-center justify-center animate__animated animate__backInDown  transition duration-400 delay-30">
        <h1 >Our Faculties</h1>
       
       
      </div>
      <div class="py-2 flex items-center justify-center animate__animated animate__zoomInLeft transition duration-400 delay-30">
        <h1 class="bg-green-700 h-1 w-14"></h1>
      </div>
        <div class="row py-5">
            <div class="col-sm-12 col-md-6 p-5">
                <div class="animate__animated animate__fadeInUp  transition duration-400">
                    <p class="text-gray-500 leading-8">The team of qualified & experienced faculty ( Ph.Ds ,Postgraduates and experienced faculties) trains the students with the right guidance as per the syllabi/patterns /types of competitive examination questions and also kindle in them the spirit of righteousness by keeping their morale high up. A well designed system matched with original & inline study material ensures a strong, unified commitment. We have our own teaching skills, high standards and a unique technique for medical & engineering, by striving for ultimate excellence.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="animate__animated animate__fadeInUp  transition duration-400 delay-300">
                   <img src="./assets/images/frndly.jpg" alt="" class="rounded-lg">
                </div>
            </div>
        </div>

        <div >
            <h1 class="text-center py-5 ">Our Experienced Faculties</h1>
            <div class="row py-5">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]">
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">Dr.Manjusha S</h5>
                          <p class="card-text text-sm text-gray-800">MSc,PhD, Biotechnology( 20Yrs of experience)</p>
               
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]">
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">Anooja</h5>
                          <p class="card-text text-sm text-gray-800">MSc zoology (15 yrs of Experience)</p>
               
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]">
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">Lakshmi Kartha</h5>
                          <p class="card-text text-sm text-gray-800">(15 yrs of experience)</p>
               
                        </div>
                      </div>
                </div>
                
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]">
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">Dr. Anu</h5>
                          <p class="card-text text-sm text-gray-800">BDS (25 yrs of experience)</p>
               
                        </div>
                      </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]">
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">Rini</h5>
                          <p class="card-text text-sm text-gray-800">MSc Zoology ( 5yrs of experience)</p>
               
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]">
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">MeghaMurali</h5>
                          <p class="card-text text-sm text-gray-800">MSc Botany &Microbiology ( 5yrs of experience)</p>
               
                        </div>
                      </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]">
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">Dr. Dhanya</h5>
                          <p class="card-text text-sm text-gray-800">Ph.D</p>
               
                        </div>
                      </div>
                </div>
                
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="card h-[21rem]" >
                        <img class="card-img-top" src="./assets/images/tchr.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title font-bold">Dr.Akshay</h5>
                          <p class="card-text text-sm text-gray-800">MBBS</p>
               
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>