
<div class="footer ">
    <div class="w-full h-full  bg-black/70 backdrop-brightness-75">
    <div class="container py-5">
        <div class="row ">
            <div class="col-sm-12 col-lg-3 ">
                <div class=" text-white py-5  ">
                    <h1 class=" text-2xl font-bold">
                      Radiant Study Center
                    </h1>
                  <div class="py-4">
                    <h1 class="bg-green-700 h-1 w-8"></h1>
                  </div>
                    <p class="text-sm">RADIANT STUDY CENTRE was founded on the belief that every student has the ability to learn to achieve and fulfill their dream. RSC is the coaching Centre for classes XI, XII and have devised a curriculum to provide an excellent educational support to the students of +2, in achieving their cherished goals in their education dream .</p>
                    <div class=" mt-2">
                    <app-social class="m-5"></app-social>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 ">
                <div class=" text-white py-5  ">
                    <h1 class=" text-2xl font-bold">
                        Quick Links
                    </h1>
                  <div class="py-4">
                    <h1 class="bg-green-700 h-1 w-8"></h1>
                  </div>
                 <ul class="">
                    <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="/about">  
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>About
                 </li>
                 <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="/team">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16" >
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>Team
                   </li>
                   <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="/services">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>Services
                   </li>
                   <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="/nri-services">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>NRI Services
                   </li>
                   <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="/contact-us">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>Contact Us
                   </li>
                 </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 ">
                <div class=" text-white py-5  px-2">
                    <h1 class=" text-2xl font-bold">
                        Services
                    </h1>
                  <div class="py-4">
                    <h1 class="bg-green-700 h-1 w-8"></h1>
                  </div>
                 <ul class="">
                    <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="retirement-planning">  
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>Retirement Planning
                
                 </li>
                 <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="insurence-planning">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>  Insurance Planning
                    
                   </li>
                   <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="/investment-planning">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>Investment Planning
                  
                   </li>
                   <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="wealth-planning">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>  Wealth Management
                    
                   </li>
                   <li class="flex items-center gap-2 p-2 hover:text-green-600 cursor-pointer" routerLink="/tax-planning">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>Tax Planning & much more
                   </li>
                 </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 ">
                <div class=" text-white py-5  px-2">
                    <h1 class=" text-2xl font-bold">
                        Contact
                    </h1>
                  <div class="py-4">
                    <h1 class="bg-green-700 h-1 w-8"></h1>
                  </div>
                 <ul class="p-2">
                 <app-phone></app-phone>
                  <app-email ></app-email>
                  <li class="flex  gap-2 py-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="28" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                      </svg>
                      Metro Pillar No.548,
Kayyath Ln, near Hi-Tech Laboratories,
Janatha, Palarivattom,
Kochi, Kerala 682025
                  </li>
                 </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="border-t border-gray-600">
<div class="container text-white py-3">
   <div class="text-center">
    <p>Copyright © 2022  . All rights reserved.</p>
   </div>
</div>
    </div>
</div>
</div>
