<app-cover></app-cover>

<div class="container mx-auto px-5 py-3 lg:py-5 lg:px-32 lg:pt-24">
    <div class="py-5">
        <div class="text-center flex items-center justify-center animate__animated animate__backInDown  transition duration-400 delay-30">
          <h1 >Gallery</h1>
         
         
        </div>
        <div class="py-2 flex items-center justify-center animate__animated animate__zoomInLeft transition duration-400 delay-30">
          <h1 class="bg-green-700 h-1 w-14"></h1>
        </div>
        </div>
        <div class=" py-5">
           
           <div class="row">
            <div class="col-sm-12 col-md-4 py-3">
              <div class="card shadow">
                <div class="card-body p-0">
                  <img src="./assets/images/Frame 1.jpg" alt="" class="h-[400px] w-full">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 py-3">
              <div class="card ">
                <div class="card-body p-0">
                  <img src="./assets/images/Frame 2.jpg" alt="" class="h-[400px] w-full">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 py-3">
              <div class="card  shadow p-0">
                <div class="card-body p-0">
                  <img src="./assets/images/Frame 3.jpg" alt="" class="h-[400px] w-full">
                </div>
              </div>
            </div>
           </div>
          </div>
    
  </div>















