<div class="bg-transparent">
    
    <div class="container ">
        <div class="z-10 flex lg:justify-around justify-between items-center navbar  p-3 {{isNavbarScroll?'fixed top-0 shadow-2xl  transition-all duration-150 z-10 bg-gray-800 w-full z-10 left-0 animate__animated animate__fadeInDown animate-faster p-0 text-white':' text-white py-1  w-full'}}">
            <ul>
                <li class="text-2xl font-extrabold  cursor-pointer" data-hover="Logo">Logo</li>
            </ul>
           <app-menu></app-menu>
            <ul class="lg:hidden">
                <li><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg></li>
            </ul>
        </div>
    </div>
</div>
